<h2>Entries</h2>
<table class="table">
    <thead>
    <tr>
        <th>Person id</th>
        <!--        <th>name</th>-->
        <th>timedate</th>
        <th>Image</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    <tr>

        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <td><img src="{{d.3}}"/></td>
        <td>
            <form>

                {% if d.1 == unknown %}
                <input type="hidden" value="{{d.3}}" name="img_path">
                <input type="text" class="form-control" name="name" value="{{d.3}}" placeholder="Person name" required>
                <input type="submit" class="btn btn-success enrol-person-entry" value="Add">
                {% else %}
                <input type="hidden" value="{{d.0}}" name="entry_id">
                <input type="submit" class="btn btn-success update_enrolled_person" value="Update">
                {% endif %}


            </form>
        </td>

        <!--        <td>{{d.2}}</td>-->
    </tr>
    {% endfor %}

    </tbody>
</table>